html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}

/*css variables */
:root{
  --primary-background:rgb(122,204,254);
  --bird-color:rgba(29,161,242,1.00);
  --black:#0f1419;
  --border:rgb(29,161,242);
  --footer-color:#5b7083;
}

*,
*:before, 
*:after{
  box-sizing :border-box ;
  margin :0 ;
  padding: 0;
}
body{
  display :grid ;
  grid-template-columns :1fr ;
  font-family:'Raleway', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth ;
}
a{text-decoration :none;}
a:visited{
  color: initial;
  outline :none ;
  text-decoration :none ;
}
.show{display: none;}
/*main*/
main{padding : 1rem 1rem 0;}
main i{
  color :var(--bird-color);
  font-size :2.5rem ;
  padding-bottom: 1rem ;
}
h1{
  color: var(--black);
  font-size :1.5rem ;
  font-weight :900 ;
  line-height :1.3125;
  padding-right: 1rem ;
}
main h1 ~ p{
  color: var(--black);
  font-weight :700 ;
  margin-top :3.5rem ;
  margin-bottom :1rem ;
}
.signup{
  background :var(--border);
  color:#fff !important;
}
.login{
  border: 1px solid var(--border);
  color :var(--border) !important;
  margin-bottom :2rem ;
  margin-top: 1rem ;
}
.signup,
.login{
  border-radius :1.5rem;
  display :block ;
  font-weight :700;
  height :2.5rem ;
  padding-top: 0.625rem ;
  text-align: center ;
  width :100%;
}

/*aside*/
aside{
  background :var(--primary-background);
  background-image: url("./images/aside.png");
  background-repeat: no-repeat ;
  background-position:  left -50% center  !important;
  color: #fff ;
  padding-bottom: 1rem ;
  padding-top: 1rem ;
  position:relative ;
}
aside div{
  align-items :center ;
  display :grid;
  font-size :1rem ;
  font-weight: 700 ;
  grid-template-columns :1fr 9fr;
  margin :1rem;
  position: relative ;
  z-index :3;
}
aside  > :nth-child(2) {
  margin-bottom :3rem ;
  margin-top :3rem ;
}
/*side-btn*/
.side-btn{
  display: flex ;
  flex-wrap: nowrap;
  justify-content :center ;
  padding :2rem 1rem ;
}
.side-btn a{margin :0 0.5rem;}
/*footer*/
footer{
  display :flex ;
  flex-wrap: wrap ;
  justify-content : space-evenly;
  line-height :2.1rem;
  padding:1rem 1.75rem;
  text-align :center ;
}
footer a, 
footer p{
  color: var(--footer-color);
  font-size :0.75rem ;
  margin:0 auto ;
}
/***MEDIA QUERIES***/
/*tab view*/
@media all and  (min-width:48rem){
  main{padding: 1rem 12rem 0;}
  main i{padding-bottom: 1.5rem ;}
  h1{font-size :1.875rem ;}

  aside{
    padding:1rem 10rem 1rem 12rem;
    background-position:  left 130% top  !important; 
  }
  aside div{font-size :1.1875rem ;}

  .side-btn{padding :2rem 12rem ;}

  footer{justify-content : center;}
  footer a, 
  footer p{
    font-size :0.8125rem ;
    margin:0 0.25rem ;
  }
}

/*desktop view*/
@media all and  (min-width:64rem){
  .hide{display: none;}
  .show{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    padding: 0 4rem 1rem 4rem;
    width: 20vw;
  }
  body{
    grid-template-columns :1fr 1fr;
    grid-template-rows :10fr 1fr;
    min-height: 100vh;
  }

  main{
    grid-column: 2/3 !important;
    grid-row: 1/10;
    padding: 1rem 0;
  }
  main i,
  main h1,
  main p{
    margin-right: 9rem !important;
    margin-left: 9rem;
  }
  main i{
    
    margin-top: 2.5rem;
    padding-bottom: 1.5rem ;
  }
  main a.signup,
  main a.login{
    display: block;
    margin:1rem auto;
    width: 60%;
  }
  .show  div {
    display: flex;
    flex-basis: 3px !important;
    flex-direction: column;
  }
  .show div label{
    background: rgb(247, 249, 250);;
    color: var(--black);
    font-size: 15px;
    padding:0.5rem 1rem 0 0.5rem;
  }
  .show div label:focus{color: var(--border) !important;}
  .show div input{
    background: rgb(247, 249, 250);;
    border: 0;
    border-bottom: 2px solid var(--black) ;
    font-size: 15px;
    padding:0.5rem 1rem 0.5rem 0.5rem;
  }
  .show div input:focus{
    border: 0;
    border-bottom: 2px solid var(--border);
    color: var(--border);
    outline: none;
  }
  .show div input ~ a{
    color: var(--border);
    font-size: 0.75rem;
    margin: 0.5rem 0.5rem 0;
  }
  .show div input ~ a:hover{text-decoration: underline;}
  .show > :last-child{
    align-self: baseline;
    border: 1px solid var(--border);
    border-radius: 624.9375rem;
    color: var(--border);
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 2.4375rem;
    margin-top: 0.6rem;
    padding-top: 0.609375rem;
    text-align: center;
    width: 4.5rem;
  }
  .show > :last-child:hover{background: #e8f0fe;}
  h1{font-size :1.875rem ;}
  aside{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/10;
    padding:1rem 7rem 1rem 9rem;
    position: relative;
    align-content: center;
    background :var(--primary-background);
    background-image: url("./images/bigg.png");
    background-repeat: no-repeat ;
    background-position:  left 20% top 30%  !important;
  }
  footer{
    grid-column: 1/3;
    grid-row: 10/11;
    justify-content: space-around;
  }
}